doctype html
html
  head
    title cart
    include stylesheets.pug
  body
    include partials/nav.pug
    h1 Cart
    h2 My Cart

  block content
    if products != undefined
      each product in products
        h1 #{product.product_name}
        h2 #{product.price}
        h6 #{product.product_description}
    else
        h2 You're cart is empty!    
    button#completeOrder Complete Order

    each paymentType in paymentTypes
      div#paymentTypes.isHidden
        h5 #{paymentType.payment_type_name}    
        h5 #{paymentType.account_number}   
        button(class="payClick" id=`${paymentType.id}`) Select Payment
    script
      include ../node_modules/jquery/dist/jquery.min.js    
      include ../client/cart.js