extends index.pug

block content
  each product in prodArray
    ul
      a(href=`/product/${product.id}`) #{product.product_name}
      li #{product.description}
      li #{product.listing_date}
      li $#{product.price}
